# Archivos de compilación de Maven
/target/
*.jar
*.war

# Archivos compilados de Java y logs
*.class
*.log

# Archivos locales de configuración de NetBeans
/nbproject/
nb-configuration.xml
nbactions.xml

# Configuraciones de otros IDEs (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env